.altura {
  min-height: 550px;
  position: relative; }

.vega-map h1, .vega-map h2, .vega-map h3 {
  margin-top: 5px;
  text-align: center; }
.vega-map .btn-close {
  position: absolute;
  top: 15px;
  right: 15px; }
.vega-map .panel-heading {
  position: relative; }
.vega-map .panel-body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 550px; }
.vega-map .info, .vega-map .navigate {
  position: absolute;
  padding: 10px; }
.vega-map .info {
  width: 300px;
  height: 240px;
  left: 5px;
  bottom: 5px;
  border: 1px solid #eee;
  border-radius: 5px; }
.vega-map .navigate {
  right: 5px;
  top: 5px;
  font-size: 52px;
  text-align: center;
  width: 240px; }
  .vega-map .navigate .fa {
    color: #ccc; }
  .vega-map .navigate .levels {
    font-size: 12px; }
    .vega-map .navigate .levels a {
      width: 180px;
      display: block;
      float: right; }
.vega-map .legend {
  position: absolute;
  background-color: #fff;
  bottom: 5px;
  right: 5px;
  text-align: right;
  line-height: 30px; }
  .vega-map .legend span.sample {
    display: inline-block;
    width: 10px;
    height: 30px;
    border-radius: 5px; }

.dashboard h2 {
  text-align: center; }
.dashboard .menu-esquerda {
  border-top: none;
  min-height: 600px; }
.dashboard .col-lg-1, .dashboard .col-lg-2, .dashboard .col-lg-3, .dashboard .col-lg-4, .dashboard .col-lg-5, .dashboard .col-lg-6, .dashboard .col-lg-7, .dashboard .col-lg-8, .dashboard .col-lg-9, .dashboard .col-lg-10, .dashboard .col-lg-11, .dashboard .col-lg-12 {
  padding: 3px; }
.dashboard .panel {
  margin-bottom: 3px; }
.dashboard .variaveis, .dashboard .localidades {
  padding: 15px; }
.dashboard .localidades a.local {
  display: block;
  text-decoration: none;
  padding: 4px 8px;
  border-bottom: 1px solid #dddddd; }
  .dashboard .localidades a.local:hover {
    text-decoration: none;
    background-color: #e1edf7; }
