.altura {
  min-height: 550px;
  position: relative;
}

.vega-map {
  h1, h2, h3 {
    margin-top: 5px;
    text-align: center;
  }
  .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .panel-heading {
    position: relative;
  }
  .panel-body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 550px;
  }
  .info, .navigate {
    position: absolute;
    padding: 10px;
  }
  .info {
    width: 300px;
    height: 240px;
    left: 5px;
    bottom: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(61,61,61,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(61,61,61,0.75);
    box-shadow: 1px 1px 5px 0px rgba(61,61,61,0.75);
    .fa-thumb-tack {
      font-size: 24px;
      position: absolute;
      color: #2b542c;
      left: 145px;
      top: -25px;
      text-shadow: 11px 11px 8px rgba(150, 150, 150, 0.73);
      &.pinned {
        top: -10px;
        text-shadow: 3px 0px 3px rgba(150, 150, 150, 0.73);
      }
    }
  }
  .navigate {
    right: 5px;
    top: 5px;
    font-size: 52px;
    text-align: center;
    width: 240px;
    .fa {
      color: #ccc;
    }
    .levels {
      font-size: 12px;
      a {
        width: 180px;
        display: block;
        float: right;
      }
    }
  }
  .legend {
    position: absolute;
    background-color: #fff;
    bottom: 5px;
    right: 5px;
    text-align: right;
    line-height: 30px;
    span.sample {
      display: inline-block;
      width: 10px;
      height: 30px;
      border-radius: 5px;
    }
  }
}
.vega-map-footer {
  font-size: 10px;
  text-align: center;
  margin: 0 auto 15px;
  width: 80%;
}
.dashboard {
  h2 {
    text-align: center;
  }
  .menu-esquerda {
    border-top: none;
    min-height: 600px;
  }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding: 3px;
  }
  .panel {
    margin-bottom: 3px;
  }
  .variaveis, .localidades {
    padding: 15px;
  }
  .localidades {
    a.local {
      display: block;
      text-decoration: none;
      padding: 4px 8px;
      border-bottom: 1px solid #dddddd;
      &:hover {
        text-decoration: none;
        background-color: #e1edf7;
      }
    }
  }
}
