<!doctype html>
<html lang="pt-br" ng-app="graficos">
<head>
    <meta charset="UTF-8">
    <title>Gráficos</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/graficos.css">
    <link rel="stylesheet" href="css/angular-treeview.css">
</head>
<body>
    <div class="container dashboard">
        <div class="row" ng-controller="menuControllerDashboards">
            <div class="panel panel-default clearfix">
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        <div>Eixo:</div>
                        <form>
                            <select ng-model="eixo" class="form-control">
                                <option ng-repeat="eixo in eixos" ng-value="$index" ng-selected="selected">{{ eixo }}</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-lg-7 col-lg-offset-1">
                        <div>Localidade:</div>
                        <ul class="nav nav-pills">
                            <li ng-class="{active: filtro.loc_nivel==99}">
                                <a ng-click="setLocal(total)">Total do Estado</a>
                            </li>
                            <li ng-class="{active: filtro.loc_nivel==30}">
                                <a ng-click="setNivel(30)">Regioes Metropolitanas</a>
                            </li>
                            <li ng-class="{active: filtro.loc_nivel==10}">
                                <a ng-click="setNivel(10)">Regioes Administrativas</a>
                            </li>
                            <li ng-class="{active: filtro.loc_nivel==70}">
                                <a ng-click="setNivel(70)">Municipios</a>
                            </li>
                        </ul>
                        <form ng-show="busca">
                            <div class="input-group">
                                <input class="form-control" type="text" ng-model="filtro.$" placeholder="Busca">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="filtro.$ = ''" title="Limpar filtro"><i class="fa fa-times"></i></button>
                            </span>
                            </div>
                            <div class="lista" ng-class="{municipios: filtro.loc_nivel==70, ra: filtro.loc_nivel==10}">
                                <a class="local" ng-repeat="local in localidades | filter: filtro | orderBy:['loc_nivel','nome']" ng-click="setLocal(local)">{{ local.loc_nome }}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <h2>{{ eixos[eixo] }} - {{ localidade.loc_nome }}</h2>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6" ng-repeat="chart in charts">
                    <div class="panel panel-default">
                        <div google-chart chart="chart" style="{{chart.cssStyle}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-2.1.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-treeview.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/directives.js"></script>
    <script src="js/app/controllers.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="js/ng-google-chart.js"></script>
</body>
</html>
