<!doctype html>
<html lang="pt-br" ng-app="graficos">
<head>
    <meta charset="UTF-8">
    <title>Gráficos</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/graficos.css">
    <link rel="stylesheet" href="css/angular-treeview.css">
</head>
<body>
<!--cabecalho-->
<script type="text/javascript" src="http://www.saopaulo.sp.gov.br/barrasp/js/include_full.js.php"></script>

<div class="container" style="padding-left:0px;padding-right:0px; display:block;">
	<div class="col-md-6"><a href="#"><img src="/simeducacao/img/logo_simeducacao.gif"></a></div>
   	<div class="col-md-2 text-right"><a href="http://www.fde.sp.gov.br" target="_blank"><img src="/simeducacao/img/logo_fde.gif"></a></div>
	<div class="col-md-3 text-right"><a href="http://www.educacao.sp.gov.br/" target="_blank"><img src="/simeducacao/img/logo_se.gif"></a></div>    
</div>
<div class="container" style="padding-left:0px;padding-right:0px;">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/simeducacao/graficos/mapas.html">Mapas</a></li>
            <li><a href="/simeducacao/graficos/dashboards.html">Gr&aacute;ficos</a></li>
            <li><a href="/simeducacao/perfil/">Perfis</a></li>
            <li><a href="/simeducacao/pesquisa/" style="border-right:none;">Pesquisa Avan&ccedil;ada</a></li>
          </ul>
	   <ul class="nav navbar-nav navbar-right">
      		<li><button id="faleconosco" type="button" class="btn btn-link"  data-container="body" data-toggle="popover" data-placement="bottom" data-content="Para saber mais ou tirar d&uacute;vidas sobre o conteuacute;do e a navega&ccedil;&atilde;o do SIM Educa&ccedil;&atilde;o, entre em contato com a Funda&ccedil;&atilde;o Seade pelo telefone (11) 3313-5777 ou e-mail sicseade@seade.gov.br.">Fale Conosco</button></li>
	   </ul>
        </div>
      </div>
    </nav>
</div>
<!--fim cabecalho-->
    <div class="container dashboard">
        <div class="row" ng-controller="menuControllerDashboards">
            <div class="panel panel-default clearfix">
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        <div>Eixo:</div>
                        <form>
                            <select ng-model="eixo" class="form-control" id="controle_select">
                                <option ng-repeat="eixo in eixos" ng-value="$index" ng-selected="{{eixo=='Educação Infantil - Creche'}}">{{ eixo }}</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-lg-7 col-lg-offset-1">
                        <div>Localidade:</div>
                        <ul class="nav nav-pills">
                            <li ng-class="{active: filtro.loc_nivel==99}">
                                <a class="mostrar" ng-click="setLocal(total)" id="estado">Total do Estado</a>
                            </li>
                            <li ng-class="{active: filtro.loc_nivel==30}">
                                <a class="mostrar" ng-click="setNivel(30)">Regiões Metropolitanas</a>
                            </li>
                            <li ng-class="{active: filtro.loc_nivel==10}">
                                <a class="mostrar" ng-click="setNivel(10)">Regiões Administrativas</a>
                            </li>
                            <li ng-class="{active: filtro.loc_nivel==70}" id="li_municipios">
                                <a class="mostrar" ng-click="setNivel(70)">Municípios</a>
                            </li>
                        </ul>
						<form ng-show="busca" id="form_busca" class="pull-right">
                            <div class="input-group col-lg-8">
                                <input class="form-control" type="text" ng-model="filtro.$" placeholder="Busca">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="filtro.$ = ''" title="Limpar filtro"><i class="fa fa-times"></i></button>
                            </span>
                            </div>
                            <div class="lista col-lg-8" ng-class="{municipios: filtro.loc_nivel==70, ra: filtro.loc_nivel==10}">
                                <a class="local teste" ng-repeat="local in localidades | filter: filtro | orderBy:['loc_nivel','nome']" ng-click="setLocal(local)">{{ local.loc_nome }}</a>
                            </div>
                        </form>
						
                    </div>
                </div>
            </div>
            <div>
                <h2>{{ eixos[eixo] }} - {{ localidade.loc_nome }}</h2>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6" ng-repeat="chart in charts">
                    <div class="panel panel-default">
                        <div google-chart chart="chart" style="{{chart.cssStyle}}"></div>
                        <div class="fonte text-center"><small>Fontes: {{chart.fontes.join(' ')}}</small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-2.1.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-treeview.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/directives.js"></script>
    <script src="js/app/controllers.js"></script>
	<script src="js/app/graficos.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="js/ng-google-chart.js"></script>
	    <script type="text/javascript">
      $(function() {
	  $('#faleconosco').popover({
	    placement : 'bottom'
	});
     });
     </script>
<!--rodape-->
<div class="container" style="padding-left:0; padding-right:0">
	<nav class="navbar navbar-inverse" style="text-align:center; font-size:14px; color:#fff; margin-bottom:5px;">
    	SIM Educa&ccedil;&atilde;o - Sistema de Informa&ccedil;&otilde;es Municipais
    </nav>
    <div class="col-md-6" style="font-size:11px; font-family:Verdana, Geneva, sans-serif;">Elaborado por:&nbsp;&nbsp;&nbsp;<a href="http://www.seade.gov.br" target="_blank"><img src="/simeducacao/img/logo_seade2.gif" style="vertical-align:text-bottom"></a></div>
    <div class="col-md-6 text-right" style="font-size:11px; font-family:Verdana, Geneva, sans-serif;"><a href="http://www.planejamento.sp.gov.br/" target="_blank" style="color:#666;">Secretaria de Planejamento e Desenvolvimento Regional</a></div>
</div>
<!--fim rodape-->
<br /><br />
</body>
</html>
