<!doctype html>
<html lang="pt-br" ng-app="graficos">
<head>
    <meta charset="UTF-8">
    <title>Gráficos</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/graficos.css">
    <link rel="stylesheet" href="css/angular-treeview.css">
</head>
<body>
    <div class="container dashboard">
        <div class="row" ng-controller="menuControllerDashboards">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <h2>{{ item.currentNode.nome }} - {{ localidade.loc_nome }}</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <ul class="nav nav-tabs">
                    <li ng-class="{active: menu_var}"><a ng-click="menu_var = true">Variáveis</a></li>
                    <li ng-class="{active: !menu_var}"><a ng-click="menu_var = false">Localidades</a></li>
                </ul>
                <div class="panel panel-default menu-esquerda">
                    <div class="variaveis" ng-show="menu_var">
                        <div angular-treeview="true" tree-id="item" tree-model="data" tree-data="data"
                             node-id="id" node-label="nome" node-children="itens">
                        </div>
                    </div>
                    <div class="localidades" ng-hide="menu_var">
                        <form>
                            <div class="input-group">
                                <input class="form-control" type="text" ng-model="filtro.$" placeholder="Busca">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="filtro.$ = ''" title="Limpar filtro"><i class="fa fa-times"></i></button>
                                </span>
                            </div>
                            <label class="radio">
                                <input type="radio" ng-model="filtro.loc_nivel" value="70">
                                Municipios
                            </label>
                            <label class="radio">
                                <input type="radio" ng-model="filtro.loc_nivel" value="10">
                                Regiões Administrativas
                            </label>
                            <label class="radio">
                                <input type="radio" ng-model="filtro.loc_nivel" value="30">
                                Regiões Metropolitanas
                            </label>
                            <label class="radio">
                                <input type="radio" ng-model="filtro.loc_nivel" value="0">
                                Tudo
                            </label>
                        </form>
                        <a class="local" ng-repeat="local in localidades | filter: filtro | orderBy:['loc_nivel','nome']" ng-click="setLocal(local)">{{ local.loc_nome }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div ng-class="{'col-lg-6': item.currentNode.id.indexOf('eixo-')==0}" ng-repeat="chart in charts">
                    <div class="panel panel-default">
                        <div google-chart chart="chart" style="{{chart.cssStyle}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-2.1.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-treeview.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/directives.js"></script>
    <script src="js/app/controllers.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="js/ng-google-chart.js"></script>
</body>
</html>
