<div class="panel panel-default vega-map">
    <div class="panel-heading">
        <h3>{{ title }}</h3>
         <a class="btn-close" ng-click="remove()" title="Fechar"><span class="glyphicon glyphicon-remove-circle"></span></a>
    </div>
    <div class="panel-body">
        <div scope-ref="vis"></div>
        <div class="info" ng-transclude ng-show="info.id"></div>
        <div class="navigate" scope-ref="prev">
            <a scope-ref="prev"><i class="fa fa-angle-left" ng-hide="current == alternatives[0]"></i></a>
            {{ current }}
            <a scope-ref="next"><i class="fa fa-angle-right" ng-hide="current == alternatives.slice(-1)[0]"></i></a>
            <div class="levels">
                <a class="btn btn-default" ng-repeat="f in features" ng-click="setLevel(f)" ng-hide="feature == f">{{ featureLabels[f] }}</a>
            </div>
        </div>
        <div class="legend">
            <div ng-repeat="rng in range">
                <!--span ng-hide="legend[rng].length"> N/E </span-->
                <span ng-show="legend[rng].length && legend[rng][0] == legend[rng][legend[rng].length-1]">{{ legend[rng][0] }}</span>
                <span ng-show="legend[rng].length && legend[rng][0] != legend[rng][legend[rng].length-1]">de {{ legend[rng][0] }} até {{ legend[rng][legend[rng].length-1] }}</span>
                <span ng-show="legend[rng].length" class="sample" style="background-color: {{ rng }}">&nbsp;</span>
            </div>
        </div>
    </div>
</div>
<div class="vega-map-footer" ng-show="footer">
    {{ footer }}
</div>
